---
import Layout from '../layouts/Layout.astro'
import TeamsPage from "../components/TeamsPage.tsx";
---
<Layout
    activePage="Events"
    desc="they call me lysoar the way i be standing"
    title="Events | PCMT"
>
    <div class="pt-6 px-6">
        <TeamsPage client:load />
    </div>
</Layout>