---
import Layout from '../layouts/Layout.astro'
---
<Layout
	activePage="Matches"
	desc="erm... haych where is my thumbnail"
	title="Matches | PCMT"
>
	<div class="pt-6 px-6">
		erm
	</div>
</Layout>