---
import Layout from '../layouts/Layout.astro'
---

<Layout
	activePage="Statss"
	desc="the only important page on this website"
	title="Stats | PCMT"
>
	<div class="pt-6 px-6">
		Are you kidding ??? What the **** are you talking about man ? You
		are a biggest looser i ever seen in my life ! You was doing PIPI in your
		pampers when i was beating players much more stronger then you! You are
		not proffesional, because proffesionals knew how to lose and
		congratulate opponents, you are like a girl crying after i beat you! Be
		brave, be honest to yourself and stop this trush talkings!!! Everybody
		know that i am very good pcmt player, i can win anyone in the world in
		lurk! And "h"aych "e"dd is nobody for me, just a player who are crying
		every single time when loosing, ( remember what you say about Caleb )
		!!! Stop playing with my name, i deserve to have a good name during
		whole my valorand carrier, I am Officially inviting you to 1v1 skirmish
		match with the Prize fund! Both of us will invest 5000$ and winner takes
		it all!
	</div>
</Layout>
