---
import Layout from '../layouts/Layout.astro'
---

<Layout
	activePage="Stats"
	desc="the only important page on this website"
	title="Stats | PCMT"
>
	<div class="pt-6 px-6">
		wip
	</div>
</Layout>
