---
import Layout from '../layouts/Layout.astro'
---

<Layout
	activePage="Statss"
	desc="the only important page on this website"
	title="Stats | PCMT"
>
	<div class="pt-6 px-6">Who is St. Ats</div>
</Layout>
