---

---
<footer class="dark:bg-[#1e1e1e] bg-gray-300 h-6 w-screen">
	<div class="mx-auto max-w-315 h-6 flex items-center justify-center border-neutral-200 dark:border-[#333] border-l border-r">
		<p class="text-vlr-text-gray text-xs">
			turning the tides since 2026. by sting and toxic
		</p>
	</div>
</footer>
