---
import Layout from '../../../layouts/Layout.astro'
import seasons from '../../../data/events.json';
import EventPage from '../../../components/events/EventPage.astro'
import type { Event } from '../../../types/types.ts'
import slugify from 'slugify';

interface Props {
	event: Event;
	matchName: string;
	matchId: string;
	stage: string;
}

import { matches } from '../../../stores/store.ts'
import MatchPage from '../../../components/matches/MatchPage';

export const getStaticPaths = () => {
	return Object.entries(matches).flatMap(([id, matches]) => {
		return matches.map((match) => {
			return {
				params: {
					id: id,
					match: slugify(match.id),
				},
				props: {
					event: seasons.filter((event: Event) => {
						event.id === id
					}),
					matchName: match.team1Name + ' vs ' + match.team2Name,
					matchId: id,
					stage: match.stage,
				}
			}
		})
	})
}

const { event, matchName, matchId, stage } = Astro.props
---

<Layout
	activePage="Events"
	desc={'an intense life or death duel: ' + matchName + ' in the ' + stage}
	title={matchName + " | PCMT"}
	bodyClass="bg-vlr-gray-400 dark:bg-vlr-gray-900 font-sans m-0 min-h-screen grid w-full grid-rows-[auto_1fr_auto]"
	mainClass="mx-auto w-full max-w-315 root dark:bg-vlr-gray-800 min-w-0"
>
	<div class="h-full">
		<MatchPage event={event} matchId={matchId} />
	</div>
</Layout>
