---
import Layout from '../../../layouts/Layout.astro'
import seasons from '../../../data/events.json';
import EventPage from '../../../components/events/EventPage.astro'
import type { Event } from '../../../types/types.ts'

type Props = Event;

export const getStaticPaths = (() => {
	return seasons.map((entry: Event) => {
		return {
			params: {
				id: entry.id
			},
			props: entry
		};
	});
});

const {
	desc,
	name
} = Astro.props;

---

<Layout
	activePage="Events"
	desc={desc}
	title={name + " | PCMT"}
	bodyClass="bg-vlr-gray-400 dark:bg-vlr-gray-900 font-sans m-0 min-h-screen grid w-full grid-rows-[auto_1fr_auto]"
	mainClass="mx-auto w-full max-w-315 root dark:bg-vlr-gray-800 min-w-0"
>
	<div class="h-full">
		<EventPage event={Astro.props} />
	</div>
</Layout>
